<!-- Employee  Navigation -->

<ul class="nav-links">
    <ng-container *ngIf="isLoggedIn">
        <li *ngIf="isManager">

            <a routerLinkActive="active">Employee</a>
            <ul class="sub-menu">
                <li><a routerLink="/manager/viewemployee">View Employees</a></li>                
            </ul>
        </li>
        <li *ngIf="isManager">
            <a routerLinkActive="active">ProjectProposal</a>
            <ul class="sub-menu">
                <li><a routerLink="/manager/proposal/view">Views</a></li>                   
            </ul>
        </li>

        <li *ngIf="isManager">
            <a routerLinkActive="active">Project</a>
            <ul class="sub-menu">
                <li><a routerLink="/manager/project/create">Create Project</a></li>
                <li><a routerLink="/manager/project/view">View Project</a></li>
                             
            </ul>
        </li>
        <li *ngIf="isManager">
            <a routerLinkActive="active">Task</a>
            <ul class="sub-menu">
                <li><a routerLink="/manager/task/create">Create Task</a></li>
                <li><a routerLink="/manager/task/view">View Tasks</a></li>                          
            </ul>
        </li>
        <li *ngIf="isManager">
            <a routerLinkActive="active">Feedbacks</a>
            <ul class="sub-menu">               
                <li><a routerLink="/manager/feedback/view">View Feedback</a></li>
            </ul>
        </li>




    </ng-container>
</ul>