<div class="loan-form-container" [class.blur]="successPopup">
  <button type="button" id="backButton" (click)="navigateToDashboard()">
    Back
  </button>
  <h2>Edit Proposal</h2>
  <hr>
  <form #proposalForm="ngForm" (ngSubmit)="handleUpdateLoan(proposalForm)">
    <label for="ProposalTitle">ProposalTitle<span class="required">*</span></label>
    <input id="ProposalTitle" type="text" name="ProposalTitle" [(ngModel)]="formData.ProposalTitle"
      placeholder="ProposalTitle" required 
      #ProposalTitle="ngModel" (change)="handleChange($event, 'ProposalTitle')" />
    <div class="error" *ngIf="ProposalTitle.invalid && ProposalTitle.touched">
      *ProposalTitle is required
    </div>

    <label for="ProposalDescription">ProposalDescription<span class="required">*</span></label>
    <input id="ProposalDescription" type="text" name="ProposalDescription" 
    [(ngModel)]="formData.ProposalDescription"
      placeholder="ProposalDescription" required #ProposalDescription="ngModel"
      (change)="handleChange($event, 'ProposalDescription')" />
    <div class="error" *ngIf="ProposalDescription.invalid && ProposalDescription.touched">
      *ProposalDescription is required
    </div>

    <label for="status">status<span class="asterisk">*</span></label>
    <select id="status" [(ngModel)]="formData.status" name="status" 
    (change)="handleChange($event, 'status')">
     <option value="" disabled>Change status</option>
     <option value="Pending">Pending</option>
     <option value="Approved">Approved</option>
     <option value="Rejected">Rejected</option>     
   </select>

   <!-- <div *ngIf="status.invalid && status.touched" class="error-message">
     *status is required
   </div> -->
    



    <div *ngIf="errorMessage" class="error">
      *{{ errorMessage }}
    </div>

    <button type="submit">Update Proposal</button>
  </form>
</div>

<div class="success-popup" *ngIf="successPopup">
  <p>Updated successfully</p>
  <button type="button" (click)="handleOkClick()">OK</button>
</div>