<div>
    <div class="loan-form-container" [ngClass]="{ blur: successPopup }">
      <h2>Create New Agro Chemicals</h2>
      <hr>
      <form #agroForm="ngForm" (ngSubmit)="onSubmit(agroForm)">
        <label for="Name">Agro Name<span class="required">*</span></label>
        <input
          type="text"
          name="Name"
          [(ngModel)]="formData.Name"
          placeholder="Agro name"
          required
          #Name="ngModel"
          (change)="handleChange($event, 'Name')"
        />
        <div class="error" *ngIf="Name.invalid && Name.touched">
          *Agro Name is required
        </div>
  
  
        <label for="Brand">Brand<span class="required">*</span></label>
        <input
          type="text"
          name="Brand"
          [(ngModel)]="formData.Brand"
          placeholder="Brand"
          required
          #Brand="ngModel"
          (change)="handleChange($event, 'Brand')"
        />
        <div class="error" *ngIf="Brand.invalid && Brand.touched">
          *Brand is required
        </div>
  
  
        <label for="Category">Category<span class="required">*</span></label>
        <input
          type="text"
          name="Category"
          [(ngModel)]="formData.Category"
          placeholder="Category"
          required
          #Category="ngModel"
          (change)="handleChange($event, 'Category')"
        />
        <div class="error" *ngIf="Category.invalid && Category.touched">
          *Category  is required
        </div>
  
  
        <label for="SuitableCrop">SuitableCrop<span class="required">*</span></label>
        <input
          type="text"
          name="SuitableCrop"
          [(ngModel)]="formData.SuitableCrop"
          placeholder="SuitableCrop"
          required
          #SuitableCrop="ngModel"
          (change)="handleChange($event, 'SuitableCrop')"
        />
        <div class="error" *ngIf="SuitableCrop.invalid && SuitableCrop.touched">
            *SuitableCrop is required
          </div>

        <label for="Description">SuitableCrop<span class="required">*</span></label>
        <input
          type="text"
          name="Description"
          [(ngModel)]="formData.Description"
          placeholder="Description"
          required
          #Description="ngModel"
          (change)="handleChange($event, 'Description')"
        />
 <div class="error" *ngIf="Description.invalid && Description.touched">
          *SuitableCrop is required
        </div>
        <label for="Quantity">Quantity<span class="required">*</span></label>
        <input
          type="number"
          name="Quantity"
          [(ngModel)]="formData.Quantity"
          placeholder="Quantity"
          required
          #Quantity="ngModel"
          (change)="handleChange($event, 'Quantity')"
        />
        <div class="error" *ngIf="Quantity.invalid && Quantity.touched">
            *Quantity is required
          </div>

        <label for="PricePerUnit">PricePerUnit<span class="required">*</span></label>
        <input
          type="number"
          name="PricePerUnit"
          [(ngModel)]="formData.PricePerUnit"
          placeholder="PricePerUnit"
          required
          #PricePerUnit="ngModel"
          (change)="handleChange($event, 'PricePerUnit')"
        />

        <div class="error" *ngIf="PricePerUnit.invalid && PricePerUnit.touched">
            *PricePerUnit is required
          </div>

        <label for="Image">Image<span class="required">*</span></label>
        <input
          type="text"
          name="Image"
          [(ngModel)]="formData.Image"
          placeholder="Image"
          required
          #Image="ngModel"
          (change)="handleChange($event, 'Image')"
        />
       
        <div class="error" *ngIf="Image.invalid && Image.touched">
            *PricePerUnit is required
          </div>

        <div *ngIf="errorMessage" class="error">
          *{{ errorMessage }}
        </div>
  
        <button type="submit">Submit</button>
      </form>
    </div>
  
    <div *ngIf="successPopup" class="success-popup">
      <p>Successfully Added!</p>
      <button (click)="handleSuccessMessage()">Ok</button>
    </div>
  </div>
  
