<div>
    <div class="loan-form-container" [ngClass]="{ blur: successPopup }">
      <h2>Create New Crop</h2>
      <hr>
      <form #proposalForm="ngForm" (ngSubmit)="onSubmit(proposalForm)">
        <label for="ProposalTitle">ProposalTitle<span class="required">*</span></label>
        <input
          type="text"
          name="ProposalTitle"
          [(ngModel)]="formData.ProposalTitle"
          placeholder="ProposalTitle"
          required
          #CropName="ngModel"
          (change)="handleChange($event, 'ProposalTitle')"
        />
        <div class="error" *ngIf="ProposalTitle.invalid && ProposalTitle.touched">
          *ProposalTitle is required
        </div>
  
  
        <label for="ProposalDescription">ProposalDescription<span class="required">*</span></label>
        <input
          type="text"
          name="ProposalDescription"
          [(ngModel)]="formData.ProposalDescription"
          placeholder="ProposalDescription"
          required
          #CropType="ngModel"
          (change)="handleChange($event, 'ProposalDescription')"
        />
        <div class="error" *ngIf="ProposalDescription.invalid && ProposalDescription.touched">
          *ProposalDescription is required
        </div>
  
  
        <label for="Description">Description<span class="required">*</span></label>
        <input
          type="text"
          name="Description"
          [(ngModel)]="formData.Description"
          placeholder="Description"
          required
          #Description="ngModel"
          (change)="handleChange($event, 'Description')"
        />
        <div class="error" *ngIf="Description.invalid && Description.touched">
          *Description Rate is required
        </div>
  
  
        <label for="PlantingDate">PlantingDate<span class="required">*</span></label>
        <input
          type="date"
          name="PlantingDate"
          [(ngModel)]="formData.PlantingDate"
          placeholder="PlantingDate"
          required
          #PlantingDate="ngModel"
          (change)="handleChange($event, 'PlantingDate')"
        />
        <div class="error" *ngIf="PlantingDate.invalid && PlantingDate.touched">
          *PlantingDate Amount is required
        </div>
  
        <div *ngIf="errorMessage" class="error">
          *{{ errorMessage }}
        </div>
  
        <button type="submit">Submit</button>
      </form>
    </div>
  
    <div *ngIf="successPopup" class="success-popup">
      <p>Successfully Added!</p>
      <button (click)="handleSuccessMessage()">Ok</button>
    </div>
  </div>
  
