<div>
  <div id="loanHomeBody">
    <h1>Available Proposal</h1>
    <hr>
    <!-- Search Box -->
    <div class="top-container">
      <input id="searchBox" type="text" placeholder="Search..." [(ngModel)]="searchField"
        (ngModelChange)="handleSearchChange($event)" />

    </div>

    <!-- Available Proposal Table -->
    <table class="loan-table">
      <thead>
        <tr>
          <th>S.No</th>
       
          <th>ProposalTitle</th>
          <th>ProposalDescription</th>
          <th>Status</th>
          <th>Edit</th>
          <th *ngIf="!isManager">Delete</th>
        </tr>
      </thead>
      <tbody *ngIf="filteredproposal.length; else noRecords">
        <tr *ngFor="let proposal of filteredproposal,let i = index">
          <td>{{ i + 1 }}</td>
          
          <td>{{ proposal.ProposalTitle }}</td>
          <td>{{ proposal.ProposalDescription }}</td>
          <td>{{ proposal.status }}</td>
          <td>
            <button id="greenButton" (click)="navigatetoEditView(proposal.ProposalId)" >Edit</button>
          </td>
          <td *ngIf="!isManager">
            <button  id="redbuttom" (click)="handleDeleteClick(proposal.ProposalId)">Delete</button>
          </td>
        </tr>
      </tbody>
      <ng-template #noRecords>
        <tbody>
          <tr>
            <td colSpan="6" class="no-records-cell">Oops! No records Found</td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>
</div>

<div *ngIf="showDeletePopup" class="delete-popup">
  <p>Are you sure you want to delete?</p>
  <button class="confirm-delete-button" (click)="handleConfirmDelete()">
    Yes, Delete
  </button>
  <button class="cancel-delete-button" (click)="closeDeletePopup()">
    Cancel
  </button>
</div>