
<div class="loan-form-container" [class.blur]="successPopup">
    <button type="button" id="backButton" (click)="navigateToDashboard()">
      Back
    </button>
    <h2>Edit Crop</h2>
    <hr>
    <form #cropForm="ngForm" (ngSubmit)="handleUpdateCrop(cropForm)">
      <label for="CropName">CropName<span class="required">*</span></label>
      <input
        id="CropName"
        type="text"
        name="CropName"
        [(ngModel)]="formData.CropName"
        placeholder="CropName"
        required
        #CropName="ngModel"
        (change)="handleChange($event, 'CropName')"
      />
      <div class="error" *ngIf="CropName.invalid && CropName.touched">
        *CropName is required
      </div>
  
      <label for="CropType">CropType<span class="required">*</span></label>
      <input
        id="CropType"
        type="text"
        name="CropType"
        [(ngModel)]="formData.CropType"
        placeholder="CropType"
        required
        #CropType="ngModel"
        (change)="handleChange($event, 'CropType')"
      />
      <div class="error" *ngIf="CropType.invalid && CropType.touched">
        *CropType is required
      </div>
  
      <label for="Description">Description<span class="required">*</span></label>
      <input
        id="Description"
        type="text"
        name="Description"
        [(ngModel)]="formData.Description"
        placeholder="Description"
        required
        #Description="ngModel"
        (change)="handleChange($event, 'Description')"
      />
      <div class="error" *ngIf="Description.invalid && Description.touched">
        *Description
      </div>
  
      <label for="PlantingDate">PlantingDate<span class="required">*</span></label>
      <input
        id="PlantingDate"
        type="date"
        name="PlantingDate"
        [(ngModel)]="formData.PlantingDate"
        placeholder="PlantingDate"
        required
        #PlantingDate="ngModel"
        (change)="handleChange($event, 'PlantingDate')"
      />
      <div class="error" *ngIf="PlantingDate.invalid && PlantingDate.touched">
        *PlantingDate  is required
      </div>
  
      <div *ngIf="errorMessage" class="error">
        *{{ errorMessage }}
      </div>
  
      <button type="submit">Update Loan</button>
    </form>
  </div>
  <div class="success-popup" *ngIf="successPopup">
    <p>Updated successfully</p>
    <button type="button" (click)="handleOkClick()">OK</button>
  </div>
  