<!-- Employee  Navigation -->

<ul class="nav-links">
    <ng-container *ngIf="isLoggedIn">
        <li *ngIf="isEmployee">

            <a routerLinkActive="active">Project Proposal</a>
            <ul class="sub-menu">
                <li><a routerLink="/employee/proposal/create">Create Proposal</a></li>
                <li><a routerLink="/employee/proposal/view">View Proposal</a></li>              
            </ul>
        </li>
        <li *ngIf="isEmployee">
            <a routerLinkActive="active">Project</a>
            <ul class="sub-menu">
                <li><a routerLink="/employee/project/view">view Projects</a></li>             
            </ul>
        </li>

        <li *ngIf="isEmployee">
            <a routerLinkActive="active">Task</a>
            <ul class="sub-menu">
                <li><a routerLink="/employee/task/view">View Task</a></li>
               
            </ul>
        </li>
        <li *ngIf="isEmployee">
            <a routerLinkActive="active">Feedbacks</a>
            <ul class="sub-menu">
                <li><a routerLink="/employee/feedback/create">Give Feedback</a></li>
                <li><a routerLink="/employee/feedback/myfeedback">View Feedback</a></li>
            </ul>
        </li>




    </ng-container>
</ul>