

<div>
    <div id="loanHomeBody">
      <h1>Available Tasks</h1>
      <hr>
  
      <!-- Search Box -->
      <div class="top-container">
        <input
          id="searchBox"
          type="text"
          placeholder="Search..."
          [(ngModel)]="searchField"
          (ngModelChange)="handleSearchChange($event)"
        />
  
      </div>
  
      <!-- Available Task Table -->
      <table class="loan-table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>ProjectId</th>
            <th>TaskTitle</th>
            <th>TaskDescription</th>
            <th>AssignedTo</th>
            <th>Status</th>
            <th>DueDate</th>
            <th>CompletedDate</th>
            <th>Priority</th>

          </tr>
        </thead>
        <tbody *ngIf="filteredTask.length; else noRecords">
            <tr *ngFor="let task of filteredTask,let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ task.ProjectId }}</td>
              <td>{{ task.TaskTitle }}</td>
              <td>{{ task.TaskDescription }}%</td>
              <td>{{ task.AssignedTo }}</td>
              <td>{{ task.Status }}</td>
              <td>{{ task.DueDate }}</td>
              <td>{{ task.CompletedDate }}</td>
              <td>{{ task.Priority }}</td>
              <td>
                <!-- <button
                  id="greenButton"
                  *ngIf="!isLoanApplied(loan)"
                  (click)="handleApplyClick(loan)"
                >
                  Apply
                </button> -->
                <!--   -->
              </td>
            </tr>
          </tbody>
        <ng-template #noRecords>
          <tbody>
            <tr>
              <td colSpan="6" class="no-records-cell">Oops! No records Found</td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>
  </div>
  
